{% extends 'budget/base.html' %} {% block content %}

<div class="container">
  <section class="section section-stats">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel">
          <h6 class="bold">Total Budget</h6>
          <h1 class="bold">${{ project.budget }}</h1>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel">
          <h6 class="bold">Budget Left</h6>
          {% if project.budget_left > 0 %}
          <h1 class="bold green-text">${{ project.budget_left }}</h1>
          {% elif project.budget_left == 0 %}
          <h1 class="bold orange-text">${{ project.budget_left }}</h1>
          {% else %}
          <h1 class="bold red-text">${{ project.budget_left }}</h1>
          {% endif %}
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel">
          <h6 class="bold">Total Transactions</h6>
          <h1 class="bold">{{ project.total_transactions }}</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col s6">
      <button
        class="btn waves-effect left modal-trigger income-btn"
        data-target="incomeModal"
      >
        <i class="material-icons white-text left">add_circle</i>Add Income
      </button>
    </div>
    <div class="col s6">
      <button
        class="btn waves-effect right modal-trigger"
        data-target="expenseModal"
      >
        <i class="material-icons white-text left">add_circle</i> Add Expense
      </button>
    </div>
  </div>

  <div class="section section-expenses">
    <div class="row">
      <div class="z-depth-1">
        <table>
          <thead>
            <tr>
              <th>Description</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Category</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for expense in expense_list %}
            <tr>
              <td>{{ expense.title }}</td>
              <td>{{ expense.date|default:'N/A' }}</td>
              <td>${{ expense.amount }}</td>
              <td>{{ expense.category.name }}</td>
              <td>
                <a class="delete-expense" data-id="{{ expense.id }}">
                  <i class="material-icons red-text">close</i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="section section-income">
    <div class="row">
      <div class="z-depth-1">
        <table>
          <thead>
            <tr>
              <th>Description</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Source</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for income in income_list %}
            <tr>
              <td>{{ income.description }}</td>
              <td>{{ income.date }}</td>
              <td>${{ income.amount }}</td>
              <td>{{ income.source }}</td>
              <td>
                <a class="delete-income" data-id="{{ income.id }}">
                  <i class="material-icons red-text">close</i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="expenseModal" class="modal">
  <div class="modal-content">
    <h4>Add Expense</h4>
    <form action="" method="POST">
      {% csrf_token %}
      <label for="date">Date</label>
      <input type="date" name="date" id="date" />
      <label for="title">Title</label>
      <input type="text" name="title" id="title" />
      <label for="amount">Amount</label>
      <input type="text" name="amount" id="amount" />
      <select name="category" class="select">
        {% for category in category_list %}
        <option>{{ category.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" name="expense_submit" class="btn">
        Add Expense
      </button>
    </form>
  </div>
</div>

<div id="incomeModal" class="modal">
  <div class="modal-content">
    <h4>Add Income</h4>
    <form action="" method="POST">
      {% csrf_token %}
      <label for="date">Date</label>
      <input type="date" name="date" id="date" />
      <label for="description">Description</label>
      <input type="text" name="description" id="description" />
      <label for="amount">Amount</label>
      <input type="text" name="amount" id="amount" />
      <label for="source">Source</label>
      <input type="text" name="source" id="source" />
      <button type="submit" name="income_submit" class="btn btn-right">
        Add Income
      </button>
    </form>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".modal");
    var instances = M.Modal.init(elems);

    var selectElem = document.querySelector(".select");
    var selectInstance = M.FormSelect.init(selectElem);

    var expenseDeleteButtons = document.querySelectorAll(".delete-expense");
    expenseDeleteButtons.forEach(function (button) {
      button.addEventListener("click", function (event) {
        event.preventDefault();
        var id = button.getAttribute("data-id");
        deleteExpense(id, button);
      });
    });

    function deleteExpense(id, button) {
      fetch("", {
        method: "DELETE",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({
          id: id,
          type: "expense",
        }),
        credentials: "same-origin",
      })
        .then(function (response) {
          if (response.ok) {
            var expenseItem = button.closest("tr");
            expenseItem.remove();
          }
        })
        .catch(function (error) {
          console.error("Error deleting expense:", error);
        });
    }

    var incomeDeleteButtons = document.querySelectorAll(".delete-income");
    incomeDeleteButtons.forEach(function (button) {
      button.addEventListener("click", function (event) {
        event.preventDefault();
        var id = button.getAttribute("data-id");
        deleteIncome(id, button);
      });
    });

    function deleteIncome(id, button) {
      fetch("", {
        method: "DELETE",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({
          id: id,
          type: "income",
        }),
        credentials: "same-origin",
      })
        .then(function (response) {
          if (response.ok) {
            var incomeItem = button.closest(".income");
            incomeItem.remove();
          }
        })
        .catch(function (error) {
          console.error("Error deleting income due to", error);
        });
    }
  });
</script>

{% endblock %}
