{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container py-5">
  <h1>User Profile</h1>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Profile Information</span>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong></strong></p>
        </div>
      </div>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn" type="submit">Logout</button>
      </form>
    </div>
  </div>
  <h2>User Projects</h2>
  {% if projects %}
  <div class="row">
    {% for project in projects %}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ project.name }}</span>
          <p><strong>Budget:</strong> ${{ project.budget }}</p>
          <!-- Add any other project information you want to display -->
        </div>
        <div class="card-action">
          <a href="{% url 'project_detail' project_slug=project.slug %}"
            >View Details</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No projects found.</p>
  {% endif %}
  <br />
  <h2>User Projects</h2>
  {% if accounts %}
  <div class="row">
    {% for account in accounts %}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ account.name }}</span>
          <p><strong>Balance:</strong> ${{ account.balance }}</p>
          <!-- Add any other project information you want to display -->
        </div>
        <div class="card-action">
          <a href="{% url 'account_detail' account.slug %}" class="btn"
            >Visit</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No Accounts found.</p>
  {% endif %}
</div>
{% endblock %}
